:root {
   --primary-accent-background-color: #414141; 
   --secondary-accent-background-color: #2C2C2C; 
 }
 
 .backgroundRoulette {
   width: 100vw;
   height: 86vh;
   background: linear-gradient(180deg, rgb(48, 48, 48) 0%, rgb(20, 20, 20) 100%);
 }