.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #ffffff;
}

.cls-111 {
  fill: #de4b9b;
}

.cls-111, .cls-222, .cls-333, .cls-444 {
  stroke-width: 0px;
}

.cls-333 {
  fill: #06fa8a;
  animation: rotateAni 2s ease-in-out forwards;
}

.cls-444 {
  fill: none;
}

#neonIcon {
  width: 250px;
  height: 250px;
}

#Layer_2 {
  display: inline;
  height: 60px;
  margin-bottom: 20px;
}

.animated-bg {
  width: 150%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  animation: moveBackground 50s linear infinite alternate-reverse;
}

.animated-bg svg {
  position: absolute;
  width: 150%;
  height: 150%;
}

@keyframes moveBackground {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes fadeInLogo {
  0% {opacity: 0;scale: 0.1;}
  100% {opacity: 1;scale: 1;}
}

@keyframes fadeOutLogo {
  0% {opacity: 1;scale: 1;}
  100% {opacity: 0;scale: 0.1;}
}