.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #ffffff;
}

#Layer_2 {
  display: inline;
  height: 60px;
  margin-bottom: 20px;
}

.animated-bg {
  width: 150%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  animation: moveBackground 50s linear infinite alternate-reverse;
}

.animated-bg svg {
  position: absolute;
  width: 150%;
  height: 150%;
}

@keyframes moveBackground {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}